<section>
    <a href="/" class="back-button">Volver a la P치gina Principal</a>
    <h1>Nombre del Proyecto: {{project.name}}</h1>
    <p>Descripci칩n del proyecto: {{project.description}}</p>
    <p>amountNecessary: {{project.amountNecessary}}</p>
    <img src="../files/img/{{project.thumbnail}}" alt="">
    <p>location: {{project.location.address}}</p>
    <p>propietario: <a href="../user/{{owner._id}}">{{owner.name}}</a></p>
    <!-- Bot칩n de inversi칩n -->
    <button id="invertirBtn" class="invertir">Invertir</button>
</section>